$primary-color: #1C40CB;
$secondary-color: #2093FF;

$content-width: 50%;
$header-pad: 20%;

$title-fonts: 'Slabo 27px', 'Comic Sans';

@import url("http://fonts.googleapis.com/css?family=Slabo+27px");

h1
{
	color: $secondary-color;
	font-family: $title-fonts;
}
body
{
	margin:0;
	padding:0;
	border:0;
}
.header
{
	text-align: center;
	width: 100%;
	background: white;
	height:83px;

	.sitename
	{
		text-align: left;
		padding-left: $header-pad;
		float: left;
	}

	nav
	{
		padding-top:17px;
		display: inline-block;
		float: right;
		padding-right: $header-pad;
		ul
		{			
			list-style-type: none;
			
			li
			{
				width: 100%;
				padding: 10px;
				display: inline;
			}
		}

	}
}