<template name="pageOne">
  {{#if Template.subscriptionsReady}}
      <p id='paneOne'>
          Donate<br> 
          <a href="bitcoin:{{this.profile.internal_address}}?amount=.0001&message=donation">
              HERE
          </a>
          <br>for a chance to win<br> ฿{{jackpot}}<br>(approx. ${{prize_value}})
      </p>
  {{/if}}
</template>

<template name="pageTwo">
    <div id="qrcode"></div>
</template>

<template name="pageThree">
    <h1>Page 3</h1>
    <p>Terms and Conditions</p>
</template>