<template name="pluginLayout">
    <div id="carousel" class="owl-carousel owl-theme">
        <div class="item">
          {{>yield 'first'}}
        </div>
        <div class="item">
          {{>yield 'second'}}
        </div>
        <div class="item">
          {{>yield 'third'}}
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $("#carousel").owlCarousel({

                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                items: 1

            });
        });
    </script>
    <script>
        $('#qrcode').qrcode( { 
        text: "bitcoin{{bitcoin}}", 
        render: 'canvas',
        width: 128,
        height: 128, 
        ecLevel: 'H',
        fill: "#000",
        background: "#fff",
        radius: 0.2,
    }); 
    </script>
</template>